
* {margin:0px;padding:0px}
#onediv {background-color: #313a3f;
    height:50px;
    width: 100%;
    position: relative}
#twodiv {background-color: #313a3f;
    float: right;
    width: 160px;
    position:absolute;
    left:1170px;top: 0px}
.oneul li {list-style: none;
    color:white;
    line-height:48px;
    float: left;width:75px;
    height:50px;
    text-align: center;
    position:relative;
    left:250px}
.oneul {width: 550px;
    height: 50px}
.oneli {padding-right:107px}
#threediv{width: 190px;
    height: 700px;
    border: 1px solid  #ccc;
    position: absolute;
    left:250px;
    top:75px}
.twoli {clear: both;
    color: black;
    width: 140px;
    position: relative;
    line-height: 45px;
    padding-left: 50px}
.threeli {clear: both;
    border-bottom: 1px solid #ccc;
    width: 170px;
    color: black;
    padding-left:20px;
    line-height: 45px}
img {vertical-align: middle}
.fourli {background-color: deepskyblue;}
.fiveli {padding-left: 20px;clear: both;
    list-style: none;
    line-height: 50px;
    color: white}
.sixli {padding-left: 20px;
    clear: both;
    list-style: none;
    line-height:48px;
    background-color: #cccccc}
.threeul li {list-style: none;}
.sevenli {clear: both;color: black;
    width: 140px;position: relative;
    line-height: 45px;padding-left: 50px;
    background-color:orange}
.eightli {clear: both;color: black;
    width: 140px;position: relative;
    line-height: 45px;padding-left: 50px;
    border-bottom: 1px solid #ccc}
#fourdiv {width:873px;height: 700px;
    border: 1px solid  #ccc;
    position:relative;top:25px;
    left: 455px }
#fivediv {border-bottom:2px solid orange;
    width: 90px;height: 40px;
    position: absolute;top: 10px;
    left: 10px;
    line-height: 40px; }
#sixdiv {border-bottom: 1px solid #cccccc;
    height: 40px;
    width: 750px;
    position: relative;
    top: 11px;left: 100px}
#sevendiv {width: 810px;
    height: 50px;
    border-bottom: 1px dashed #cccccc;
    line-height: 50px;
    position: relative;top: 10px;
    left: 10px;padding-left: 30px}
#eightdiv {position:relative;
    top: 20px;left:10px;
    padding-left:10px;
    width: 830px;height: 260px;}
.ninediv {width: 808px;height: 50px;
    border-bottom: 1px dashed #cccccc;
    line-height: 50px;
    position: relative;left: 10px;
    top: 30px;padding-left: 32px}
.tendiv{width: 838px;height: 50px;
    position: relative;left: 10px;
    top: 30px}
.tendiv ul li {float: left;list-style: none;
    line-height: 50px;width:165px;
    height: 50px;text-align: center}
span {position: relative;
    left: 69px;
    color: orange}
.onespan {position: relative;
    left: 580px;color: orange}
.listyle {float: left;
    list-style: none;
    width:350px;
    margin: 0px auto;}
.li_style {float: right;
    list-style: none;
    width:390px;}
#eightdiv ul li {list-style: none;
    height:35px;
    line-height:35px;}
.bigdiv {width: 100%;height: 100%;margin: 0 auto;border: 1px solid red}